<a href="https://colab.research.google.com/github/shamimruSPLog-26/SkillMorph/blob/main/Assignment_of_second_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A**-2.1**:variables for my name, age, and favorite color

In [ ]:
name="Shamim"
age=30
fav_color="Blue"
print(name)
print(age)
print(fav_color)

Shamim
30
Blue

# A**-2.2**: variable of data type and use of type() function

In [ ]:
product= "Rice"
price=68
quantity=10.5
price_validity=True
paid=False
result=None
print(type(product))
print(type(price))
print(type(quantity))
print(type(price_validity))
print(type(paid))
print(type(result))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

# **A-2.3** alculation of area and perimeter of a rectangle

In [ ]:
a=7
b=5
area=a*b
perimeter=2*(a+b)
print("The area of the rectangle is:", area, "sq meter")
print("The perimeter of the rectangle is:", perimeter, "meter")

The area of the rectangle is: 35 sq meter
The perimeter of the rectangle is: 24 meter

# **A-2.4:**  a list of 5 Bangladeshi foods

In [ ]:
foods= ["rice", "fish", "meat", "vegetable","dal"]
print(foods)
print(foods[-5])
print(foods[-1])
print(foods[0])
print(foods[4])
repeat=([5],)*3 # repeataion with space
print(repeat)

['rice', 'fish', 'meat', 'vegetable', 'dal']
rice
dal
rice
dal
([5], [5], [5])

# **A-2.5:**  list of 5 numbers, adding, removing, and sorting

In [ ]:
list=[2,6,10,8,15]
print(list)
list.insert(0,20)
print(list)
list.remove(10)
print(list)
list.sort()
print(list)

[2, 6, 10, 8, 15]
[20, 2, 6, 10, 8, 15]
[20, 2, 6, 8, 15]
[2, 6, 8, 15, 20]

# **A-2.6:** a dictionary about myself

In [ ]:
myself={
    "Name" : "Shamim Ahmed", "Age" : 30, "Institute" : "University Of Rajshahi", "Class" : "MPhil", "Aim" : "To be a Data Scientist", "email" : "shamim.ru24@gmail.com", "Phone No." : "01767058127"

}
print(myself)

{'Name': 'Shamim Ahmed', 'Age': 30, 'Institute': 'University Of Rajshahi', 'Class': 'MPhil', 'Aim': 'To be a Data Scientist', 'email': 'shamim.ru24@gmail.com', 'Phone No.': '01767058127'}

# **A-2.7:**  tuple with the latitude and longitude of Rajshahi University

In [ ]:
coordinates = (24.37, 88.64)
print(coordinates)
print(coordinates[0])
print(len(coordinates))

(24.37, 88.64)
24.37
2

# **A-2.8:** two sets of colors and find their union and intersec

In [ ]:
col1 = {"red", "green", "yellow", "orange"}
col2 = {"blue", "green", "yellow", "pink", "red"}
print(col1 |col2)
print(col1 & col2)

{'orange', 'yellow', 'green', 'pink', 'red', 'blue'}
{'yellow', 'green', 'red'}

# **A-2.9:** checks a number is positive, negative, or zero

In [ ]:
num = -10
if num > 0:
  print("The number is positive")
elif num < 0:
  print("The number is Negative")
elif num == 0:
  print("The number is zero")

The number is Negative

# **A-10:** checks eligibility for a discount (student AND under 25, OR senior over 60)

In [ ]:
age = int(input("Enter your age: "))
student = input("Are you a student? (yes/no): ").lower() == 'yes'

result = check_discount(age, student)
print(result)

Enter your age: 30
Are you a student? (yes/no): no
Not eligible for discount
None

# **A-2.11:** prints the first 10 even numbers using a for loop

In [ ]:
for i in range (11):
  if i % 2 ==0:
    print(i, end=",")

0,2,4,6,8,10,

In [ ]:
i=1
print("The odd nuembers are=", end = " ")
while i<11:
  print(i, end = ",")
  i +=2

The odd nuembers are= 1,3,5,7,9,

# **A-2.12:** simple number pyramid pattern using nested loops

In [ ]:
for i in range(1, 6):
  print(i * "2")

2
22
222
2222
22222

In [ ]:
n=5
for i in range(1, n+1):
  for j in range(1, i+1):
    print(j, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# **A-2.13:** convertion of temperature from Celsius to Fahrenheit

In [ ]:
Celcius = 36.7
Fahrenheit = (Celcius * 9/5) + 32
print(Fahrenheit)

98.06

In [ ]:
def C_to_F(C):
    F = (C * 9/5) + 32
    return F

C = 36.69
fahrenheit = C_to_F(C)
print(f"{C}째C is equal to {fahrenheit}째F")

36.69째C is equal to 98.042째F

# **A-2.14:** Area calculation

In [ ]:
def area_of_rectangle(a=5, b=3):
    area = a * b
    return area
print("The area parameters:", area_of_rectangle())

The area parameters: 15

In [ ]:
x = "data type"
x.upper()
print(x.upper())
print(x.title())
print(x.split())
x.islower()

DATA TYPE
Data Type
['data', 'type']

True

In [ ]:
x = range(10)
for i in x:
  print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
x = range(1,10,3)
for i in x:
  print(i, end = " ")

1 4 7

In [ ]:
x = range(100,10,-10)
for i in x:
  print(i, end = " ")

100 90 80 70 60 50 40 30 20